/**** 

    Contact form   stolen from myself xD

****/


/* button that opens contact modal */
.open-contact-modal-button {
    font-weight: bolder;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    /* border-color: rgb(34, 255, 0); */
    animation: borderAnimation 5s infinite; /* Adjust the duration as needed */
    border-width: 3px;
}

/* Define the animation keyframes */
@keyframes borderAnimation {
    0%, 100% {
      border-color: rgb(120, 255, 93); /* Initial color */
    }
    25% {
        border-color: rgb(59, 242, 255); /* Initial color */
      }
    50% {
      border-color: rgb(253, 43, 20); /* Midway color */
    }
    75% {
        border-color: rgb(255, 0, 255); /* Midway color */
    }
  }

/* from 0px to 769px style the contact form 
for mobile */
@media screen and (max-width: 769px) {
    
    .my-contact-div {
        padding: 0rem !important;
        margin-bottom: 10rem !important;
    }
    .card {
        padding: 1rem !important;
        box-shadow: none !important;
    }

    /* header */
    .card-head {
        padding-bottom: 3rem !important;
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
    /* title */
    .card-title {
        font-size: 1.5rem !important;
        color: black !important;
        display: inline-block !important;
    }
    .close-button {
        float: right;
    }
    /*  popup */

    /* control form fields */
    .control {
        padding-bottom: 0.3rem;
    }
    /* subtitle */
    .subtitle:not(:last-child) {
        margin-bottom: 1rem;
    }

    /* pay cancel buttons */
    .card-foot {
        text-align: center;
    }
    .my-button-contact {
        margin-right: 1rem;
        font-size: 13px;
        margin-top: 1rem;
        padding-top: 0.5rem;
    }
    
    /* .my-button-contact:hover {
        background-color: rgb(255, 217, 0);
        color: rgb(255, 255, 255)
    } */
    
    .column {
        padding-top: 0.1rem;
        padding-bottom: 1rem;
    }

    .close-button-container {
        padding-top: 1rem;
        margin-right: 2rem !important;
    }

}

.input {
    border-color: rgb(32, 203, 255);
}

.my-textarea {
    width: 100%;
    height: 250px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: vertical;
    border-color: rgb(32, 203, 255);

}

.math-test {
    display: inline-flex;
}

.math-test-textarea {
    padding-top: 2rem;
    width: 70px;
    height: 60px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 20px;
    resize: vertical;
    border-color: rgb(32, 203, 255);
}

.form-sub {
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-size: 20px !important;
}

.subtitle {
    font-weight: bolder;
    text-decoration: none;
}

.my-label {
    font-size: 16px;
    font-weight: bolder;
    float: left;
    padding-inline: 0.7rem;
}

.my-contact-div {
    padding-left: 7rem;
    padding-right: 7rem;
    margin-bottom: 10rem;
    
}

.card {
    padding: 2rem;
    box-shadow: none;
    background: none;

}
.card-head {
    padding-bottom: 4rem;
    padding-right: 3rem;
    padding-left: 3rem;
}
.card-title {
    font-size: 2rem;
    display: inline-block !important;
    padding-top: 2rem;
}

.column, .is-12 {
    background-color: rgb(255, 255, 255);

}

@media screen and (min-width: 769px) {
    .column .is-6 {
        padding-inline: 2rem 
    } 
}

.close-button-container {
    padding-top: 1.5rem;
    margin-right: 3rem;
    position: absolute;
    right: 0;
}

.close-button {
    background-color: black;
}

.close-button:hover {
    background-color: rgb(154, 154, 154);
    transition: all 0.3s;
}
.card-foot {
    margin-bottom:1.5rem;
    text-align: center;
}

.my-button-contact {
    font-size: 20px;
    background-color: rgb(0, 103, 187);
    color: white;
    padding: 0.6rem;
    border: none;
    border-width: 1px;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    border-radius: 4px
}

.my-button-contact:hover {
    background-color: rgba(0, 103, 187, 0.92);
    cursor: pointer;
}

.my-button-contact[disabled] {
    background-color: rgba(0, 103, 187, 0.8);
    cursor: not-allowed;
}

.my-button-contact[disabled]:hover {
    background-color: rgba(0, 103, 187, 0.8);
    cursor: not-allowed;
}

.my-button-math {
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0.6rem;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    cursor: pointer;
    justify-content: center;
    margin-left: 2rem;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
    border-radius: 4px
}

.my-button-math:hover {
    background-color: rgba(255, 255, 255, 0.92);
    cursor: pointer;
}

.my-button-math[disabled] {
    background-color: rgba(178, 178, 178, 0.8);
    cursor: not-allowed;
}

.my-button-math[disabled]:hover {
    background-color: rgba(178, 178, 178, 0.8);
    cursor: not-allowed;
}

.processing-div {
    display: flex;
    align-items: center;
}
  
.loading-dots {
    padding-left: 0.2rem;
}
.dot {
    padding-left: 0.5rem;
    opacity: 0;
    font-size: 30px;
    animation: fadeInOut 1s infinite;
}

.dot:nth-child(1) {
    color: rgb(151, 26, 26);
    animation-delay: 0.25s;
}

.dot:nth-child(2) {
    color: rgb(38, 255, 0);
    animation-delay: 0.5s;
}

.dot:nth-child(3) {
    color: rgb(255, 255, 255);
    animation-delay: 0.75s;
}

@keyframes fadeInOut {
    0%, 18%, 100% {
        opacity: 0;
    }
    24%, 42% {
        opacity: 1;
    }
}