/* 
    *** FOOTER STYLING *** 


*/

/* footer styling. Footer is fixed at bottom because section div takes up entire page height */
.my-footer {
    margin-top: 10rem;
    /* margin-top: auto; */
    position: relative;
    object-fit: contain;
}


.scroll-top-btn-container {
    position: fixed;
    bottom: 35px;
    right: 70px;
    z-index: 990;
    cursor: pointer;
}

.my-scroll-up-btn-arrow {
    background-color: rgba(0,0,0,0.8); 
    font-size: 30px;
    color: white;
    padding: 0.5rem;
} 

/* footer bg img for mobile */
@media screen and (max-width: 1024px) {
    .my-footer {
        min-height: 10rem;
        background-position: 55% 25%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .lctec-brand {
        padding-top: 5rem; 
        padding-bottom: 5rem;
        color: rgb(173, 236, 255);
        text-align: center;
        padding-block: 1.5rem !important; 
        font-size: 12px !important;
    }
    .social-media-div {
        padding-top: 1rem !important;
    }

    .scroll-top-btn-container {
        position: fixed;
        bottom: 35px;
        right: 60px;
        z-index: 990;
        cursor: pointer;
    }
    
    .my-scroll-up-btn-arrow {
        background-color: rgba(0,0,0,0.8); 
        font-size: 25px; 
    }      
}

@media screen and (max-width: 844px) {

    .scroll-top-btn-container {
        position: fixed;
        bottom: 25px;
        right: 35px;
        z-index: 990;
        cursor: pointer;
    }
}

@media screen and (max-width: 600px) {

    .scroll-top-btn-container {
        position: fixed;
        bottom: 25px;
        right: 40px;
        z-index: 990;
        cursor: pointer;
    }
    
    .my-scroll-up-btn-arrow {
        background-color: rgba(0,0,0,0.8); 
        font-size: 20px;
    }  
}


/* location beacon for footer */
.location-beacon {
    background-color: black;
    display: flex;
    padding-top: 5rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    color: white;
}

.circle {
    float:left;
    width: 10px;
    height: 10px;
    /* background-color: #62bd19; */
    border-radius: 50%;
	/* margin: 10px; */
	box-shadow: 0 0 0 0 rgb(6, 187, 0);
    transform: translateX(-50%) translateY(-50%);

    &:before {
        content: '';
        position: relative;
        display: block;
        width: 300%;
        height: 300%;
        box-sizing: border-box;
        margin-left: -100%;
        margin-top: -100%;
        border-radius: 45px;
        background-color: #01a4e9;
        animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
      }
    
      &:after {
        content: '';
        position: absolute;
        left: 0; 
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #62bd19;
        border-radius: 15px;
        box-shadow: 0 0 8px rgba(0,0,0,.3);
        animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
      }
}


@keyframes pulse-ring {
    0% {
      transform: scale(.33);
    }
    80%, 100% {
      opacity: 0;
    }
  }
  
  @keyframes pulse-dot {
    0% {
      transform: scale(.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(.8);
    }
  }


/* SNS icons and company brand */

/* SNS icons */
.social-media-div {
    background-color: black;
    padding-top: 12rem;
    padding-right: 3rem;
    padding-left: 3rem;
}

.spotify path {
    fill: rgb(0, 230, 0);
}
.apple path {
    fill: white;
}
/* sns colors */
.instagram path {
    fill: rgb(255, 0, 157);
}

/* defined inline for theme toggle */
.twitter path {
    fill: rgb(255, 255, 255);
}

.youtube path {
    fill: red;
}

.gab path {
    fill:#00d16c;
}

.amazon path {
    fill: rgb(255, 195, 29);
}

/* list items */
ul.sns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent;
    /* padding-top: 1rem; */

}

li.instagram, li.youtube, li.twitter, li.gab, li.apple, li.spotify, li.amazon {
    padding: 0.7rem;
}

.icon:hover path {    
    fill: rgb(255, 195, 29);
    transition: all 0.3s ease-in-out;
}

.amazon-svg {
    overflow: visible;
}
.gab-svg {
    overflow: visible;
}


/* padding of company link */
.lctec-brand {
    background-color: black;
    border-top: 2px solid #005ac2;
    color: rgb(173, 236, 255);
    text-align: center;
    padding-top: 5rem; 
    padding-bottom: 5rem;
    font-size: 14px;
    font-family:BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* lctec icon */
.lctec-icon {
    height: 15px;
    width: 15px;
}

a.company_link {
	color: bisque;
}
a.company_link:hover {
	color:rgb(77, 255, 0);
    transition: all 0.3s;
}