/* *** 

        NAVBAR STYLING

*/

/* navbar color transparent */
.navbar {
    background:rgba(0, 0, 0,0);
    top:0;
    width: 100%;
    /* make navbar go over main content */
    z-index: 9999;
}


.my-logo {
    margin-top: 0.01rem;
    margin-left: 1.5rem;
    width: 100px;
}

.lctec-logo-img {
    min-width: 150%;
    border-radius: 25%;
    transition: box-shadow 0.325s ease-in-out;
}

 .lctec-logo-img:hover {
	box-shadow: 0 0 15px 0 rgb(255, 0, 128);
    
}

@media screen and (max-width: 1023px) {

    .my-logo {
        margin-top: 0.5rem;
        margin-left: 1rem;
    }    
    .lctec-logo-img {
        min-width: 125%;
        box-shadow: 0 0 8px 0 rgb(255, 0, 128);
    }
}


@media screen and (max-width: 685px) {

    .my-logo {
        margin-top: 0.01rem;
        margin-left: 0.5rem;
    }    
    .lctec-logo-img {
        min-width: 100%;
    }
}

  /* remove nav link background */
.navbar-item {
    padding-top: 0;
    display: flex;
    /* float: right; */
    color: rgb(255, 255, 255);
    font-weight: bold;
    background: none;
    /* border-radius: 1%; */
    padding: 0.5rem 0.75rem;
    position: relative;
}

/* keep nav items on the end */
.navbar-end {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: 1rem;
}

.my-services-button {
    font-weight: 700;
    background: none;
    border: none;
}

/* when items are not under hamburger */
/* .navbar-item:hover {
    color: rgb(0, 225, 255);
    background: none;
} */

/* .outside-cart {
    display: none;
} */

/* burger is replaced by user's pfp if logged in */
/* .show-pfp {

    z-index: 9999;
    position: absolute;
    top: 2rem;
    right: 2rem;
    border: 2px solid rgb(0, 238, 255); 
    height: 50px;
    width: 50px;
    border-radius: 9999px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    text-align: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
} */
/* pfp for mobile */
/*
 @media screen and (max-width: 1024px) {

    .show-pfp {
        top: 1.5rem;
        right: 2rem;
    } 
}
*/

.my-burger {
    z-index: 9999;
    position: absolute;
    top: 1.2rem;
    right: 3.3rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 3.25rem;
    width: 3.25rem;
    border: none;
} 

/* remove hamburger button background */
.my-burger:hover {
    background-color: transparent;
}

/* hamburger button span stroke color on hover */
.my-burger:hover span{
    color: rgb(197, 197, 197);
}

/* overwriting bulma hamburger stroke animation */
/* stroke length and height*/
.my-burger span {
    left: calc(50% - 12px);
    position: absolute;
    transform-origin: center;
    transition-duration: 86ms;
    transition-property: background-color, opacity, transform;
    transition-timing-function: ease-out;
    width: 30px;
    height: 3px;
    outline: none; 
    caret-color: transparent;
}

/* remove hamburger button background */
.navbar.is-dark .my-burger{
    background: none;
}

/* hamburger button closed 3 strokes*/
/* .my-burger span:first-child {
    transition-duration: 300ms;
    top: calc(50% - 7px);
    background-color: rgb(255, 255, 255);
}
.my-burger span:nth-child(2) {
    transition-duration: 300ms;
    top: calc(50%);
    background-color: rgb(255, 255, 255);
}
.my-burger span:nth-child(3) {
    transition-duration: 300ms;
    top: calc(50% + 7px);
    background-color: rgb(255, 255, 255);
}

.my-burger.is-active span:first-child {
    transition-duration: 300ms;
    transform: translateY(7px) rotate(45deg);
    background-color: rgb(255, 255, 255);
}

.my-burger.is-active span:nth-child(2) {
    opacity: 0;
    background-color: rgb(255, 255, 255);

}
.my-burger.is-active span:nth-child(3) {
    transition-duration: 300ms;
    transform: translateY(-7px) rotate(-45deg);
    background-color: rgb(255, 255, 255);
} */

/* hamburger button closed/open 2 strokes*/
.my-burger span:first-child {
    transition-duration: 200ms;
    top: calc(50% - 4px);
}
.my-burger span:nth-child(2) {
    transition-duration: 200ms;
    top: calc(50% + 4px);
}

.my-burger.is-active span:first-child {
    width: 32px;
    transition-duration: 200ms;
    transform: translateY(4px) rotate(45deg);
}

.my-burger.is-active span:nth-child(2) {
    transition-duration: 200ms;
    top: calc(50% + 3px);
    left: calc(50% - 15px);
    width: 21px;
    transform: translateY(4px) rotate(45deg);
}


@media screen and (min-width: 1024px) {
    .navbar-end {
        display: flex;
    }

    /* .navbar-sns-icons {
        display: none;
    } */

    .my-burger {
        display: none;
    } 

    .my-navbar-menu {
        padding-right: 4rem;
        align-items: stretch;
        display: flex;
        position: absolute;
        top: 3rem;
        right: 1rem;
    }
}

.navbar-brand {
    padding-top: 0.7rem;
    padding-inline: 0.4rem;
}

/* when navbar menu collapses under hamburger */
@media screen and (max-width: 1023px) {

    .navbar-brand {
        padding-top: 0.5rem;
        padding-inline: 0.4rem;
    }


    .my-burger {
        margin-top: 0.7rem;
        margin-inline: 0.4rem;
    }

    .navbar-end {
        display: none;
    }
    /* .navbar-sns-icons {
        display: none;
    } */

    .navbar-end.is-active {
        display: contents;
        padding-left: 6rem;
        padding-top: 2rem;
        margin-top: 2rem;
        opacity: 0;
        animation: fadeIn 0.3s ease-in-out 0.6s forwards;
    }
    
    @keyframes fadeIn {
        0% { opacity: 0; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }
/* 
    .navbar-sns-icons.is-active {
        display: block;
        padding-top: 2rem;
        opacity: 0;
        animation: fadeIn 0.3s ease-in-out 0.6s forwards;
    }
    
    @keyframes fadeIn {
        0% { opacity: 0; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    } */

    /**
    .navbar-sns-icons.is-active, path {
        fill: rgba(89, 255, 255, 0.6);
    }
    **/
    /* #apple, #spot, #ama, #in, #yt, #tw, #g, #a, #b {
        fill: rgba(180, 255, 119, 0.9);
    } */


    /* navbar when hamburger button is not clicked */
    .my-navbar-menu {
        position: fixed;
        z-index: 999;
        top: 0;
        right: 0;
        padding-top: 60px;
    }
    /* navbar when hamburger is opened */
    .my-navbar-menu.is-active {
        height: 100%;
        position: fixed;
        z-index: 999;
        background-color:rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(1rem);
        overflow-x: hidden;
        transition: 0.6s;
    }

    /* ensure burger button shows inside navbar menu */
    .my-burger.is-active {
        z-index: 9999;
    }

    .navbar-item {
        padding-top: 1rem;
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: 700;
        font-size: 2rem;
        display: block
    }
    .navbar-item:hover {
        color: rgb(0, 238, 255);
    }

    a.navbar-item {
        width: fit-content;
    }

    .my-dropdown-menu {
        opacity: 1 !important;
        visibility: visible !important;
        margin-top: 0.5rem;
        margin-right: 4rem;
        margin-left: 4rem;
        position:  relative !important;
        justify-content: center;
        align-items: center;
    }

    .my-dropdown-item {
        font-size: 2vmin !important;
    }

    .my-theme-switch {
        margin-top: 2rem;
        margin-right: 1rem;
    }

}

/* make text a little bit larger on super small mobile devices */
@media screen and (max-width: 584px) {
    .navbar-item {
        font-size: 5vmin;
    }
    .my-dropdown-item {
        font-size: 3.5vmin !important;
    }
}