/* 

    MAIN CONTENT STYLING


*/

.services-container {
    margin-top: 6rem;
}

.service-header {
    font-size: 2.5rem; 
    font-weight: 600;
    padding-bottom: 4rem;
}

@media  screen and (max-width:1023px) {
    .service-header {
        margin-inline: 1rem;
    }
}


.service {
    padding-inline: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.service-item {
    margin-bottom: 20rem;

}

.service-about {
    font-size: 18px;
    padding-top: 1rem;
    padding-inline: 12rem;
}

.showcase-client-img {
    box-shadow: 0 0 15px rgba(0,0,0,.6);
    border-radius: 6px;
    max-width: 45%;

}

@media screen and (max-width: 550px) {
    .showcase-client-img {
        max-width: 65%;
    }

    .service-about {
        font-size: 18px;
        padding-top: 1rem;
        padding-inline: 2rem;
    }
}

/* clients list */
.my-clients-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1023px) {

    .my-clients-display {
        margin-bottom: 5rem;
        display: block;
    }
    
}

.client-item {
    padding-bottom: 10rem;
}