/* 

    STYLING FOR THEME SWITCH


*/

.theme-toggle {

    cursor: pointer;
    border: none;
    padding: 0;
    background: transparent;
    vertical-align: middle;
    margin-inline-start: 5px;
    margin-top: -1px;

}

.theme-icon-when-dark {
    color: white;
}

.theme-icon-when-light {
    color: black;
}

.gg-moon {
    font-size: 1.3rem;
}

/* locale icon */
.my-theme-switch:hover .gg-moon {
    color: rgb(0, 204, 255);
	transition: all 0.2s ease-in;
}

.my-theme-switch:hover .gg-sun {
    color: rgb(0, 172, 214);
	transition: all 0.2s ease-in;
}

/* align icon over menu items */
@media  screen and (max-width: 1023px) {
    .gg-moon, .gg-sun {
        margin-left: 0.5rem;
    }
}